.c-form {
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;

    label {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .input-heading {
            margin-bottom: 10px;
        }

        .input-wrapper {
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
    }
}