.c-form {
    min-width: 300px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 0px;
    margin: auto;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .input-heading {
            margin-bottom: 10px;
        }
    }
}